#excluding node_modules
node_modules

#excluding deployment script
deploy.sh

#excluding build
static/build/*

#excluding confgurations
configuration.json
prod-configuration.json

#excluding editor preferences
*.sublime-workspace
storage
